
@{
    ViewData["Title"] = "Home - Guest";
}
<style>
    body {
        background-image: url('background.jpg');
        background-size: cover;
        background-position-y: -80px;
    }
</style>
<div>
    <div style="position:absolute; top:50px; left:50px; padding:20px">
        <h1 class="display-4">The largest community of car enthusiasts</h1>
        <h1 class="display-4">Find your dream car and learn everything about it</h1>
    </div>
</div>
